@model TastTask66bit.Models.Country[];

@{
    ViewData["Title"] = "Список футболистов";
    ViewData["formChangeText"] = "Изменить";
}



<div class="text-center">
    <h3>Таблица футболистов</h3>
    <p>Данная таблица включает в себя список всех зарегистрированных футболистов</p>
</div>

<div id="controls" class="row mb-3">
    <button class="btn btn-dark ml-3 pr-5 pl-5 col" id="Back">Назад</button>
    <button class="btn btn-dark mr-3 ml-3 pr-5 pl-5 col" id="ExpandSearch">Поиск</button>
    <button class="btn btn-dark mr-3 pr-5 pl-5 col" id="Next">Далее</button>
</div>
<div id="search" style="display:none;">

    <form class="form" id="searchForm">
        <div class="row">
            <div class="form-group col-9">
                <input type="text" class="form-control mb-2" id="searchInput" name="searchInput" placeholder="Имя, Фамилия или команда" required>
            </div>
            <button type="button" class="mb-4 close" id="resetSearch" aria-label="Reset" style="display: none;">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="col">
                <button type="submit" class="btn btn-success mb-2 pr-5 pl-5">Поиск</button>
            </div>
        </div>
    </form>

</div>
<table class="table" id="plTable">

    <thead class="thead-dark">
        <tr>
            <th scope="col">Имя Фамилия</th>
            <th scope="col">Пол</th>
            <th scope="col">Дата рождения</th>
            <th scope="col">Команда</th>
            <th scope="col">Страна</th>
            <th scope="col"></th>
        </tr>
    </thead>


    <tbody id="playersData">
    </tbody>
</table>
<div id="loading" class="text-center" style="diplay: none;">
    <img src="~/img/loading.gif" />
</div>


<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Изменение сведеней об игроке</h5>
                <button class="btn btn-info" data-dismiss="modal">Закрыть</button>
            </div>
            <div class="modal-body" id="modalBody">
                @{
                    ViewBag.Message = "Изменить";
                    await Html.RenderPartialAsync("_PartialPlayerForm", Model);
                    ViewBag.Message = "";
                }
            </div>
            <div class="modal-footer">
                
            </div>

        </div>
    </div>
</div>

@Html.AntiForgeryToken()

@section Styles {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
}

@section Scripts {
    <script src="~/jqueryui/jquery-ui.js"></script>
    <script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/SignalR/Client_ListFPPage.js"></script>
    <script src="~/js/ListFPPage.js"></script>
}
